/* Body layout */

:root {
  --color-accent: oklch(65% 50% 0);
}
body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;

  accent-color: var(--color-accent);
}

/* Enable Flexbox */
nav {
  display: flex;

  /* spacing below nav */
  margin-bottom: 1rem;

  /* bottom border */
  border-bottom: 1px solid oklch(80% 3% 200);
}

/* Style links */
nav a {
  flex: 1;
  text-align: center;

  /* remove default link styling */
  text-decoration: none;
  color: inherit;

  /* spacing */
  padding: 0.5em;
}

/* Current page styling */
nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);

  /* adjust for thicker border */
  padding-bottom: 0.1em;
}
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}
input,
textarea,
button {
  font: inherit;
}